<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/global_ivn_1A?createDatabaseIfNotExist=true</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
        <!--<property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>-->
        <!--<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>-->
        <property name="hibernate.dialect">com.ivn_1A.configs.CustomMySql5Dialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
    
        <mapping class="com.ivn_1A.models.admin.User" />
        <mapping class="com.ivn_1A.models.pdbowner.Vehicle" />
        <mapping class="com.ivn_1A.models.pdbowner.Vehiclemodel" /> 
        <mapping class="com.ivn_1A.models.pdbowner.Domain" /> 
        <mapping class="com.ivn_1A.models.pdbowner.Features" />  
        <mapping class="com.ivn_1A.models.pdbowner.Domain_and_Features_Mapping" />
        <mapping class="com.ivn_1A.models.pdbowner.Pdbversion" />
        <mapping class="com.ivn_1A.models.pdbowner.Pdbversion_group" /> 
        <!--<mapping class="com.ivn_1A.models.pdbowner.Pdb_domain_feature_mapping" />--> 
        <mapping class="com.ivn_1A.models.pdbowner.Pdb_log_for_DomainFeatures" /> 
        <mapping class="com.ivn_1A.models.pdbowner.Pdb_log_for_vehiclemodel" /> 
    
        <mapping class="com.ivn_1A.models.pdbowner.Querybuilder" /> 
        <mapping class="com.ivn_1A.models.pdbowner.Safetyversion" /> 
        <mapping class="com.ivn_1A.models.pdbowner.Safetyversion_group" /> 
        <mapping class="com.ivn_1A.models.pdbowner.Legislationversion" /> 
        <mapping class="com.ivn_1A.models.pdbowner.Legislationversion_group" /> 
        <mapping class="com.ivn_1A.models.pdbowner.Featureversion" /> 
    
    
        <mapping class="com.ivn_1A.models.Groups" />
        <mapping class="com.ivn_1A.models.notification.StatusNotification" />
        <mapping class="com.ivn_1A.models.notification.Notification" />
        <mapping class="com.ivn_1A.models.notification.Notification" />
        <mapping class="com.ivn_1A.models.net_sign.Network" />
        <mapping class="com.ivn_1A.models.net_sign.ECU" />
        <mapping class="com.ivn_1A.models.net_sign.Signals" />
        <mapping class="com.ivn_1A.models.net_sign.SignalTags" />
        <!--<mapping class="com.ivn_1A.models.net_sign.SignalTags_Mapping" />-->
        <mapping class="com.ivn_1A.models.net_sign.IVN_Version" />
        <mapping class="com.ivn_1A.models.net_sign.IVN_Version_Group" />
        <mapping class="com.ivn_1A.models.task.Tasks" />
        <mapping class="com.ivn_1A.models.task.Tasks_Group" />
    </session-factory>
</hibernate-configuration>